html {
    background-color: #1f2937;
}

body {
    /* display: flex; */
}

a:link {
    text-decoration: none;
    color: black;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 16px;
}

.header-top {
    display: flex;
    justify-content: space-between;
    background-color: #fcff69;
    color: black;
    padding: 16px;
}

.header-title {
    padding-left: 32px;
    margin-left: 32px;
    font-weight: bolder;
    font-size: 30px;
    align-items: center;
}

.header-links {
    padding-right: 32px;
    margin-right: 32px;
    align-items: center;
}

.header-bottom {
    display: flex;
    flex-direction: row;
    padding: 32px;
    margin: 32px;
    justify-content: space-between;
}

.header-info {
    flex-wrap: wrap;
    margin-right: 10px;
}

.heading-one {
    font-size: 48px;
    font-weight:bolder;
    color: #fcff69;
    /* text-shadow: 50px black; */
}

.paragraph-one, .paragraph-two, .paragraph-three {
    font-size: 25px;
    color: #fcff69;
}

.header-image {
    min-width: 0;
    max-width: 70%;
    width: 100%;
    height: auto;
}

.heading-one, .paragraph-one, .paragraph-two, .paragraph-three {
    margin-bottom: 10px;
}

.sign-up-button {
    border: 2px solid #1F2937;
    border-radius: 8px;
    background: #eee;
    padding: 8px 16px 8px 16px;
    background-color: #fcff69;
    color: #1F2937;
    flex-grow: 0;
    /* flex-shrink: 1; */
    flex-basis: 16px;
}

.title-container {
    display: flex;
    justify-content: center;
    padding: 15px;
    margin-bottom: 20px;
}

.image-title {
    color: #fcff69;
    font-weight: bolder;
    font-size: 40px;
}

.image-text {
    text-align: center;
}

.image-roll {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 30px;
}

.images img {
    width:  400px;
    height: 200px;
}

.image-one, .image-two, .image-three, .image-four {
    align-items: center;
    /* border: 5px solid; */
    text-align: center;
    margin: 10px;
    color:#fcff69;
    /* box-shadow: 4px white; */
}

.quotes {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    border: 5px #1f2937 solid;
    padding: 100px;
    background-color: #E5E7EB;
    /* background-image: url("https://previews.123rf.com/images/ensup/ensup1611/ensup161100026/65982624-rusted-metal-texture.jpg") */
    gap: 50px;
    /* width: 90%; */
}

.quote-text-one,.quote-text-two, .quote-text-three {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

.author-one, .author-two, .author-three {
    font-size: 36px;
    font-weight: bold;
}

.cta {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 150px;
    border: 5px solid;
    background-color: #fcff69;
    padding: 40px;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 20px;
    border-radius: 10px;
    gap: 30px;
}

.cta-box {
    flex-direction: row;
}

 .cta-box button {
    border: 2px solid #eee;
    border-radius: 8px;
    background: #eee;
    padding: 8px 16px 8px 16px;
    background-color: #fcff69;
    color: #eee;
    flex-grow: 0;
    /* flex-shrink: 1; */
    flex-basis: 16px;
}

.cta-signup {
    padding-left: 20px;
    padding-right: 20px;
    font-size: 20px;
    text-align: center;
    border: 2px solid #1F2937;
    border-radius: 8px;
    background: #eee;
    padding: 8px 16px 8px 16px;
    background-color: #fcff69;
    color: #1F2937;
    flex-grow: 0;
}

.cta-text {
    display: flex;
    gap: 5px;
}

.cta-heading {
    font-weight: bolder;
    font-size: 30px;
}

.cta-para {
    font-size: 20px;
}

.footer {
    display: flex;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 10px;
    background-color: #eee;
    justify-content: center;
}